<table cellpadding="0" cellspacing="0" style="width: 100%; vertical-align: top;">
    <tr>
        <td style="width: 100%; min-width:1300px; text-align: center;">
            <div id='calendar' style="min-width: 1650px;"></div>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; min-width:1300px; text-align: center;">

            <script id="event-template" type="text/x-kendo-template">
                <a href="#: url#" style="text-decoration: none; color: black;">#:title #</a>
            </script>

            <div id="scheduler" style="display: none;"></div>
        </td>
    </tr>
    <tr id="mapContainer" style="display: block;">
        <td style="width: 100%; min-width:1300px; text-align: center; height: 0px; padding-top: 20px;" id="scriptContainer">
            <button class="k-button calendarViewButton" type="button">Kalendar</button>
            <div style="height: 10px;"></div>
            <div id="map" style="height: 100%;"></div>
            <script>
                var map;
                function initMap() {

                }

            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvDrzE8zFvOYMIB8wb1jVCEkWJO0JGfQU&callback=initMap&region=de&language=de-DE"
                    async defer></script>
        </td>
    </tr>
</table>