<div class="tab-strip">
    <ul>
        <li class="k-state-active" data-localized="employees:a">employees</li>
        <li class="k-state" data-localized="products:a">products</li>
        <li class="k-state" data-localized="instruments:a">instruments</li>
        <li class="k-state" data-localized="costs:a">costs</li>
    </ul>
    <div class="employees"><label data-localized="dataLoading"></label></div>
    <div class="products"><label data-localized="dataLoading"></label></div>
    <div class="instruments"><label data-localized="dataLoading"></label></div>
    <div class="costs"><label data-localized="dataLoading"></label></div>
</div>