<h2 data-localized="title"></h2>
<table class="settings">
    <tr>
        <td>
            <ul>
                <!--<li TODO data-permission="WarehouseMaterials">-->
                <li>
                    <a href="#WarehouseMaterials" data-localized="WarehouseMaterials"></a>
                </li>
                <li data-permission="Instruments">
                    <a href="#Instruments" data-localized="Instruments"></a>
                </li>
            </ul>
        </td>
    </tr>
</table>
