<h2 data-localized="title"></h2>
<table class="settings">
    <tr>
        <td>
            <ul>
                <li data-permission="Trips">
                    <a href="#Trips" data-localized="Trips"></a>
                </li>
                <li data-permission="ReportOrders">
                    <a href="#ReportOrders" data-localized="ReportOrders"></a>
                </li>
                <li data-permission="ProfitReports">
                    <a href="#ProfitReports" data-localized="ProfitReports"></a>
                </li>
            </ul>
        </td>
    </tr>
</table>
