<!--<div class="simple">
    <a class="toggle" href="javascript:void(0)" data-localized="searchTitle"></a>
</div>-->
<div class="advanced">
    <form>
        <div class="editor-field">
            <table>
                <tr>
                    <td>
                        <label data-localized="fromDate"></label>
                        <input type="text" id="fromDate" name="fromDate" data-role="datepicker" required />
                    </td>
                    <td style="padding-left: 10px;">
                        <label data-localized="toDate" style="padding-left: 10px;"></label>
                        <input type="text" id="toDate" name="toDate" data-role="datepicker" required />
                    </td>
                    <td style="padding-left: 20px;">
                        <button class="k-primary k-button" type="submit" data-localized="apply"></button>
                    </td>
                </tr>
                <tr>
                    <td><span class="k-invalid-msg" data-for="fromDate"></span></td>
                    <td><span class="k-invalid-msg" data-for="toDate"></span></td>
                    <td></td>
                </tr>
            </table>
                        
            <!--<button class="k-button" type="reset" data-localized="cancel"></button>-->
        </div>
    </form>
</div>

<br />
<table>
    <!--<tr>
        <td><label data-localized="totalOrdersSum"></label></td>
        <td><input type="text" id="totalOrdersSum" name="totalOrdersSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>-->
    <tr>
        <td><label data-localized="totalInvoicesSum"></label></td>
        <td><input type="text" id="totalInvoicesSum" name="totalInvoicesSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="notBookedOrdersSum"></label></td>
        <td><input type="text" id="notBookedOrdersSum" name="notBookedOrdersSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="ownProductsSum"></label></td>
        <td><input type="text" id="ownProductsSum" name="ownProductsSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="totalProductsSum"></label></td>
        <td><input type="text" id="totalProductsSum" name="totalProductsSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="materialsSum"></label></td>
        <td><input type="text" id="materialsSum" name="materialsSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="instrumentsSum"></label></td>
        <td><input type="text" id="instrumentsSum" name="instrumentsSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="grossProfit"></label></td>
        <td><input type="text" id="grossProfit" name="grossProfit" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><br /><label data-localized="costArts"></label></td>
        <td></td>
    </tr>
    <tr>
        <td><label data-localized="additionalCostsSum"></label></td>
        <td><input type="text" id="additionalCostsSum" name="additionalCostsSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="foreignProductsSum"></label></td>
        <td><input type="text" id="foreignProductsSum" name="foreignProductsSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="salarySum"></label></td>
        <td><input type="text" id="salarySum" name="salarySum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="socialTaxesSum"></label></td>
        <td><input type="text" id="socialTaxesSum" name="socialTaxesSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="totalCosts"></label></td>
        <td><input type="text" id="totalCosts" name="totalCosts" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><br /></td>
        <td></td>
    </tr>
    <tr>
        <td><label data-localized="operatingIncome"></label></td>
        <td><input type="text" id="operatingIncome" name="operatingIncome" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td><label data-localized="ebit"></label></td>
        <td><input type="text" id="ebit" name="ebit" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><label data-localized="totalPayedSum"></label></td>
        <td><input type="text" id="totalPayedSum" name="totalPayedSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>
    <!--<tr>
        <td><label data-localized="totalProfitSum"></label></td>
        <td><input type="text" id="totalProfitSum" name="totalProfitSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" /></td>
    </tr>-->
</table>

<br />
<br />

<div class="tab-strip">
    <ul>
        <li class="k-state-active" data-localized="materials:a">materials</li>
        <li class="k-state" data-localized="additionalCosts:a">additionalCosts</li>
        <li class="k-state" data-localized="foreignProducts:a">foreignProducts</li>
        <li class="k-state" data-localized="salary:a">salary</li>
        <li class="k-state" data-localized="socialTaxes:a">socialTaxes</li>
        <li class="k-state" data-localized="ownProducts:a">ownProducts</li>
        <li class="k-state" data-localized="instruments:a">instruments</li>
        <!--<li class="k-state" data-localized="orders:a">orders</li>-->
    </ul>
    <div class="materials"><label data-localized="dataLoading"></label></div>
    <div class="additionalCosts"><label data-localized="dataLoading"></label></div>
    <div class="foreignProducts"><label data-localized="dataLoading"></label></div>
    <div class="salary"><label data-localized="dataLoading"></label></div>
    <div class="socialTaxes"><label data-localized="dataLoading"></label></div>
    <div class="ownProducts"><label data-localized="dataLoading"></label></div>
    <div class="instruments"><label data-localized="dataLoading"></label></div>
    <!--<div class="orders"><label data-localized="dataLoading"></label></div>-->
</div>