<!--<div class="simple">
    <a class="toggle" href="javascript:void(0)" data-localized="searchTitle"></a>
</div>-->
<div class="advanced">
    <form>
        <div class="editor-field">
            <label data-localized="fromDate"></label>
            <input type="text" id="fromDate" name="fromDate" data-role="datepicker" />
            <label data-localized="toDate" style="padding-left: 10px;"></label>
            <input type="text" id="toDate" name="toDate" data-role="datepicker" />
            <br />
            <span class="k-invalid-msg" data-for="fromDate"></span>
            <span class="k-invalid-msg" data-for="toDate"></span>
        </div>
        <div class="editor-field" style="clear: left;">
            <button class="k-primary k-button" type="submit" data-localized="apply"></button>
            <button class="k-button" type="reset" data-localized="cancel"></button>
        </div>
    </form>
</div>

<br />
<label data-localized="materialsSum"></label>
<input type="text" id="materialsSum" name="materialsSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" />
<br />
<br />
<label data-localized="additionalCostsSum"></label>
<input type="text" id="additionalCostsSum" name="additionalCostsSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" />
<br />
<br />
<label data-localized="foreignProductsSum"></label>
<input type="text" id="foreignProductsSum" name="foreignProductsSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" />
<br />
<br />
<label data-localized="salary"></label>:
<input type="text" id="salary" name="salary" readonly="readonly" class="k-textbox" style="background-color: lightgrey" />
<br />
<br />
<label data-localized="totalOrdersSum"></label>:
<input type="text" id="totalOrdersSum" name="totalOrdersSum" readonly="readonly" class="k-textbox" style="background-color: lightgrey" />


<br />
<br />

<div class="tab-strip">
    <ul>
        <li class="k-state-active" data-localized="materials:a">materials</li>
        <li class="k-state" data-localized="additionalCosts:a">additionalCosts</li>
        <li class="k-state" data-localized="foreignProducts:a">foreignProducts</li>
        <li class="k-state" data-localized="salary:a">salary</li>
        <li class="k-state" data-localized="orders:a">orders</li>
    </ul>
    <div class="materials"><label data-localized="dataLoading"></label></div>
    <div class="additionalCosts"><label data-localized="dataLoading"></label></div>
    <div class="foreignProducts"><label data-localized="dataLoading"></label></div>
    <div class="salary"><label data-localized="dataLoading"></label></div>
    <div class="orders"><label data-localized="dataLoading"></label></div>
</div>