<div class="tab-strip">
    <ul>
        <li class="k-state-active" data-localized="products:a">products</li>
        <li class="k-state" data-localized="materials:a">materials</li>
        <li class="k-state" data-localized="terms:a">terms</li>
    </ul>
    <div class="products"><label data-localized="dataLoading"></label></div>
    <div class="materials"><label data-localized="dataLoading"></label></div>
    <div class="terms"><label data-localized="dataLoading"></label></div>
</div>