<ion-view ng-controller="EnterTermPositionsController as enterTermPositionsController" cache-view="false">
    <ion-nav-bar>

    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="enterTermPositionsController.goBack()" ng-if="enterTermPositionsController.term.status == 6">
            <i class="icon ion-arrow-left-c"></i> {{"main_menu_back_button" | translate}}
        </button>
    </ion-nav-buttons>
    <ion-nav-title style="text-align: center;">
        <p ng-if="enterTermPositionsController.term.status == 5">Leistungen eintragen</p>
        <p ng-if="enterTermPositionsController.term.status == 6">Leistungen überprüfen</p>
    </ion-nav-title>
    <ion-content>
        <br />
        <p class="term-description">{{enterTermPositionsController.term.fromDate}} - {{enterTermPositionsController.term.toDate}}</p>
        <p class="term-description">{{enterTermPositionsController.term.address}}</p>
        <br />

        <ion-list>

            <ion-item class="term-item">
                <div class="term-item-column item" style="width: 15%; font-weight: bold;">Pos-Nr.</div>
                <div class="term-item-column item" style="width: 55%; font-weight: bold;">Bezeichnung</div>
                <div class="term-item-column item" style="width: 15%; font-weight: bold;">Geplannte Menge</div>
                <div class="term-item-column item" style="width: 15%; border-right: 0px; font-weight: bold;">Erledigt</div>
            </ion-item>

            <ion-item ng-repeat="position in enterTermPositionsController.term.positions" class="term-item">

                <div class="term-item-column item" style="width: 15%;">{{position.number}}</div>
                <div class="term-item-column item" style="width: 55%;">{{position.description}}</div>
                <div class="term-item-column item" style="width: 15%; background-color: #f8f8f8;">{{position.plannedAmount}}</div>

                <div ng-if="enterTermPositionsController.term.status == 6" class="term-input-item-column input" style="width: 15%; border-right: 0px;">
                    <input type="text" style="padding: 0px; font-size: 16px; height: 20px; width: 120px; background-color: white;" readonly="readonly" ng-model="enterTermPositionsController.term.positions[$index].proccessedAmount">
                </div>
                <div ng-if="enterTermPositionsController.term.status == 5" class="term-input-item-column input" style="width: 15%; border-right: 0px;">
                    <input type="text" style="padding: 0px; font-size: 16px; height: 20px; width: 120px;" ng-model="enterTermPositionsController.term.positions[$index].proccessedAmount">
                </div>
            </ion-item>
        </ion-list>

        <br />

        <!-- First buttons -->

        <button ng-if="enterTermPositionsController.term.status == 5" class="button button-block button-positive" 
                ng-click="enterTermPositionsController.checkPositions()">Prüfen und bestätigen
        </button>

        <button ng-if="enterTermPositionsController.term.status == 6" class="button button-block button-positive"
                ng-click="enterTermPositionsController.enterMaterials()">
            Weiter
        </button>
                
        <br />

        <!-- Second buttons -->
        <button ng-if="enterTermPositionsController.term.status == 5" class="button button-block" 
                ng-click="enterTermPositionsController.addNewPosition()">Leistung hinzufügen</button>

        <button ng-if="enterTermPositionsController.term.status == 6" class="button button-block"
                ng-click="enterTermPositionsController.goToEnterPositions()">
            Zurück
        </button>

    </ion-content>
</ion-view>