<ion-view ng-controller="SignDeliveryNoteController as signDeliveryNoteController">
    <ion-nav-bar>

    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="signDeliveryNoteController.goBack()">
            <i class="icon ion-arrow-left-c"></i> {{"main_menu_back_button" | translate}}
        </button>
    </ion-nav-buttons>
    <ion-nav-title style="text-align: center;">
        <p>Lieferschein unterschreiben</p>
    </ion-nav-title>
    <ion-content>        

    <p style="font-weight: bold;">Unterschrift:</p>
    <div style="width: 99%;"><canvas saveVal="{{ saveVal }}" value="{{ clearVal }}" style="border: 1px solid black; height: 500px;" id="signatureCanvas" signature-dir></canvas></div>
             
    <div style="width: 50%; float: left; padding: 0px 20px 0px 20px;"><button class="button button-block button-positive" ng-click="saveToImage()">Speichern</button></div>
    <div style="width: 50%; float: left; padding: 0px 20px 0px 0px;"><button class="button button-block" ng-click="clear()">Löschen</button></div>       

    </ion-content>
</ion-view>