<ion-view ng-controller="TermsController as termController" cache-view="false">
    <ion-nav-title>
        {{"terms_today_title" | translate}}
    </ion-nav-title>
    <ion-content>

        <p ng-if="termController.missingMaterials.length > 0" style="font-weight: bold; font-size: 14px; padding-top: 15px">Fehlende Materialien:</p>

        <ion-list ng-if="termController.missingMaterials.length > 0">
            <ion-item class="term-item">
                <div class="term-item-column item" style="width: 15%; font-weight: bold;">Artikelnummer</div>
                <div class="term-item-column item" style="width: 70%; font-weight: bold;">Bezeichnung</div>
                <div class="term-item-column item" style="width: 15%; font-weight: bold; border-right: 0px;">Menge</div>
            </ion-item>

            <ion-item ng-repeat="missingMaterial in termController.missingMaterials" class="term-item">
                <div class="term-item-column item" style="width: 15%;">{{missingMaterial.number}}</div>
                <div class="term-item-column item" style="width: 70%;">{{missingMaterial.description}}</div>
                <div class="term-item-column item" style="width: 15%; border-right: 0px;">{{missingMaterial.amount}}</div>
            </ion-item>
        </ion-list>

        <p ng-if="termController.missingMaterials.length > 0" style="font-weight: bold; font-size: 14px; padding-top: 25px">Termine:</p>

        <ion-list>
            <ion-item class="term-item">
                <div class="term-item-column item" style="width: 80px; font-weight: bold;">Von</div>
                <div class="term-item-column item" style="width: 80px; font-weight: bold;">Bis</div>
                <div class="term-item-column item" style="border-right: 0px; font-weight: bold;">Adresse</div>
            </ion-item>

            <ion-item ng-repeat="term in termController.terms" class="term-item" ng-click="termController.showTerm({{termController.terms[$index]}})">
                <div class="term-item-column item" style="width: 80px;">{{term.fromDate}}</div>
                <div class="term-item-column item" style="width: 80px;">{{term.toDate}}</div>
                <div class="term-item-column item" style="border-right: 0px;">{{term.address}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>