<h2 data-localized="title"></h2>
<table class="settings">
    <tr>        
        <td>
            <ul>
                <li data-permission="AdditionalCostTypes">
                    <a href="#AdditionalCostTypes" data-localized="AdditionalCostTypes"></a>
                </li>
                <li data-permission="Rates">
                    <a href="#Rates" data-localized="Rates"></a>
                </li>
                <li data-permission="CustomProducts">
                    <a href="#CustomProducts" data-localized="CustomProducts"></a>
                </li>
                <li data-permission="ProceedsAccounts">
                    <a href="#ProceedsAccounts" data-localized="ProceedsAccounts"></a>
                </li>
                <li data-permission="Materials">
                    <a href="#Materials" data-localized="Materials"></a>
                </li>
                <li data-permission="ForeignProducts">
                    <a href="#ForeignProducts" data-localized="ForeignProducts"></a>
                </li>
                <li data-permission="SocialTaxes">
                    <a href="#SocialTaxes" data-localized="SocialTaxes"></a>
                </li>
                <li data-permission="Autos">
                    <a href="#Autos" data-localized="Autos"></a>
                </li>
                <li data-permission="JobPositions">
                    <a href="#JobPositions" data-localized="JobPositions"></a>
                </li>
                <li data-permission="Employees">
                    <a href="#Employees" data-localized="Employees"></a>
                </li>
                <li data-permission="AdditionalCosts">
                    <a href="#AdditionalCosts" data-localized="AdditionalCosts"></a>
                </li>
                <li data-permission="Taxes">
                    <a href="#Taxes" data-localized="Taxes"></a>
                </li>
                <li data-permission="TransportProducts">
                    <a href="#TransportProducts" data-localized="TransportProducts"></a>
                </li>
                <li data-permission="Customers">
                    <a href="#Customers" data-localized="Customers"></a>
                </li>
                <li data-permission="ProductTypes">
                    <a href="#ProductTypes" data-localized="ProductTypes"></a>
                </li>
                <li data-permission="Products">
                    <a href="#Products" data-localized="Products"></a>
                </li>
			</ul>
        </td>
    </tr>
</table>
